doctype html 
html(lang='en') 
  head 
    title= title
  body 
    h1= 'Update product details for ' + product.name
    form(action=`/products/${product.id}/update/`, method="POST")
      .form-row
        label(for="productDescription") Product Description: 
        textarea#productDescription(name="productDescription")= product.description
      .form-row
        label(for="categorySelect") Product Category:
        select#categorySelect(name="category")
          each category in categories 
            if category.id == product.categoryid
              option(value=category.id, selected)= category.name
            else 
              option(value=category.id)= category.name
      br
      button(type="submit") Update product
      p: a(href=`/products/${product.id}`) Back to product page (changes will be lost) 