doctype html 
html 
  head
    title= title 
  body 
    h1= 'Product: ' + product.name 
    .product-details 
      p= 'Description: ' + product.description 
      p= 'Category: ' + product.categoryName
    //- Only valid form methods are GET and POST (no DELETE)
    p: a(href=`/products/${product.id}/update`) Update product details 
    form(action=`/products/${product.id}/delete`, method="POST")
      button(
        type="submit",
        onclick='confirm("Are you sure you want to delete ' + product.name + '?")'
      ) Delete this product
    p: a(href="/products/all") Go back to products list 
