doctype html 
html 
  head
    title= title 
  body 
    h1= store.name 
    ul.store-inventory
      each val in inventory 
        li.inventory-item
          h3= val.productname 
          p= 'Amount: ' + val.amount 
    p: a(href=`/stores/${store.id}/update-inventory`) Update inventory 
    p: a(href=`/stores/${store.id}/update`) Update store
    p: a(href="/stores/all") Go back to stores list  